<launch>
  <node pkg="robot_localization" type="ukf_localization_node" name="ukf_se" clear_params="true">
    <rosparam command="load" file="$(find robot_localization)/params/ukf_iris_rgbd.yaml" />

    <!--  Placeholder for output topic remapping
    <remap from="/odometry/filtered" to="/run_localization/camera_pose"/>
    <remap from="/imu/data" to="/mavros/imu/data"/>
    -->

  </node>
</launch>
